@model IEnumerable<asp_project1.Models.Category>

@{
    ViewData["Title"] = "viewallcategory";
}

<h2>View All Category</h2>

<p>
    <a asp-action="addcategory">Create New</a>
</p>
<table class="table" id="mytable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryType)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryType)
            </td>
            <td>
                <a href="/Item/detail?CategoryId=@item.CategoryId" class="btn btn-default"> Details </a>
                <a href="/Item/edit?CategoryId=@item.CategoryId" class="btn btn-warning"> Edit </a>
                <a href="/Item/delete?CategoryId=@item.CategoryId" class="btn btn-danger"> Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>

                      @section scripts
{
                          <script>
        $(function ()
        {
            $('#mytable').DataTable();
        }
        );

                          </script>
                      }
